In [22]:
import requests
import openpyxl
from openpyxl.utils.dataframe import dataframe_to_rows
import pandas as pd

In [7]:
url = "https://www.dffh.vic.gov.au/moving-annual-rents-suburb-september-quarter-2022-excel"

response = requests.get(url)

if response.status_code == 200:
    with open("../data/landing/moving_annual_rents_september_2022.xlsx", "wb") as file:
        file.write(response.content)

    print("XLSX file downloaded successfully.")

else:
    print(f"Failed to download the XLSX file. HTTP status code: {response.status_code}")

XLSX file downloaded successfully.

In [23]:
annual_rent_df = pd.read_excel('../data/landing/moving_annual_rents_september_2022.xlsx', sheet_name='All properties')
annual_rent_df

,Moving annual median rent by suburb,Unnamed: 1,Lease commenced in year ending,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 174,Unnamed: 175,Unnamed: 176,Unnamed: 177,Unnamed: 178,Unnamed: 179,Unnamed: 180,Unnamed: 181,Unnamed: 182,Unnamed: 183
0,All properties,NaN,Mar 2000,NaN,Jun 2000,NaN,Sep 2000,NaN,Dec 2000,NaN,...,Sep 2021,NaN,Dec 2021,NaN,Mar 2022,NaN,Jun 2022,NaN,Sep 2022,NaN
1,NaN,NaN,Count,Median,Count,Median,Count,Median,Count,Median,...,Count,Median,Count,Median,Count,Median,Count,Median,Count,Median
2,Inner Melbourne,Albert Park-Middle Park-West St Kilda,1143,260,1134,260,1177,270,1178,275,...,943,500,910,495,867,500,852,513,865,500
3,NaN,Armadale,733,200,737,200,738,205,739,210,...,860,425,816,420,803,430,848,450,843,450
4,NaN,Carlton North,864,260,814,260,799,265,736,270,...,613,575,598,580,580,580,534,595,542,600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156,NaN,Wanagaratta,705,125,671,125,631,130,623,130,...,538,350,533,360,531,370,530,380,542,380
157,NaN,Warragul,385,130,367,135,382,135,366,135,...,515,390,507,390,520,400,510,400,505,420
158,NaN,Warrnambool,1266,130,1229,135,1204,135,1135,135,...,854,370,869,380,854,400,843,400,857,420
159,NaN,Wodonga,1446,145,1439,145,1468,150,1449,150,...,1228,360,1258,370,1231,380,1260,390,1219,400
160,NaN,Group Total,13812,130,13758,130,13842,130,13636,130,...,12059,350,12239,350,12123,360,12041,365,12005,380

In [24]:
# Use iloc to slice the DataFrame and exclude the first two rows and the first column
filtered_df = annual_rent_df.iloc[2:, 1:]

filtered_df

,Unnamed: 1,Lease commenced in year ending,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 174,Unnamed: 175,Unnamed: 176,Unnamed: 177,Unnamed: 178,Unnamed: 179,Unnamed: 180,Unnamed: 181,Unnamed: 182,Unnamed: 183
2,Albert Park-Middle Park-West St Kilda,1143,260,1134,260,1177,270,1178,275,1208,...,943,500,910,495,867,500,852,513,865,500
3,Armadale,733,200,737,200,738,205,739,210,718,...,860,425,816,420,803,430,848,450,843,450
4,Carlton North,864,260,814,260,799,265,736,270,718,...,613,575,598,580,580,580,534,595,542,600
5,Carlton-Parkville,1339,260,1304,260,1300,260,1320,260,1273,...,5184,330,5381,320,6126,310,5995,319,6710,340
6,CBD-St Kilda Rd,2132,320,2264,320,2358,320,2361,320,2591,...,18044,350,17625,350,17794,365,16707,390,17855,419
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156,Wanagaratta,705,125,671,125,631,130,623,130,602,...,538,350,533,360,531,370,530,380,542,380
157,Warragul,385,130,367,135,382,135,366,135,365,...,515,390,507,390,520,400,510,400,505,420
158,Warrnambool,1266,130,1229,135,1204,135,1135,135,1069,...,854,370,869,380,854,400,843,400,857,420
159,Wodonga,1446,145,1439,145,1468,150,1449,150,1405,...,1228,360,1258,370,1231,380,1260,390,1219,400
160,Group Total,13812,130,13758,130,13842,130,13636,130,13285,...,12059,350,12239,350,12123,360,12041,365,12005,380

In [25]:
start_column_index = 4

# Create a list of column indices to extract
column_indices = [start_column_index + 8 * i for i in range(2022 - 2000 + 1)]
column_indices = [0] + column_indices 

# Extract the columns of the median of annual rent for each year of every suburb
filtered_df = filtered_df.iloc[:, column_indices]
filtered_df

,Unnamed: 1,Unnamed: 5,Unnamed: 13,Unnamed: 21,Unnamed: 29,Unnamed: 37,Unnamed: 45,Unnamed: 53,Unnamed: 61,Unnamed: 69,...,Unnamed: 109,Unnamed: 117,Unnamed: 125,Unnamed: 133,Unnamed: 141,Unnamed: 149,Unnamed: 157,Unnamed: 165,Unnamed: 173,Unnamed: 181
2,Albert Park-Middle Park-West St Kilda,260,280,300,290,300,300,320,350,388,...,465,470,495,500,531,560,560,580,500,513
3,Armadale,200,220,230,235,235,243,260,290,330,...,395,395,399,400,440,495,480,500,440,450
4,Carlton North,260,275,290,290,300,300,320,340,380,...,490,510,530,530,540,560,577,590,575,595
5,Carlton-Parkville,260,260,270,280,285,280,275,280,290,...,346,351,361,370,397,410,440,400,340,319
6,CBD-St Kilda Rd,320,320,320,310,300,303,315,350,380,...,449,435,440,450,480,495,500,495,369,390
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156,Wanagaratta,125,130,135,140,150,160,170,180,185,...,230,250,250,260,265,270,290,300,330,380
157,Warragul,135,135,150,160,175,180,185,190,200,...,270,270,280,290,300,320,350,350,380,400
158,Warrnambool,135,140,150,160,180,190,200,210,220,...,280,280,280,290,290,300,320,340,360,400
159,Wodonga,145,150,155,165,180,190,210,220,225,...,270,280,285,290,300,300,320,330,350,390
160,Group Total,130,135,140,150,160,170,180,190,200,...,250,260,265,270,275,280,300,310,340,365

In [26]:
# Create a list of new column names
new_column_names = ['suburb'] + [str(year) for year in range(2000, 2023)]

# Use the .rename method to set the new column names
filtered_df.rename(columns=dict(zip(filtered_df.columns, new_column_names)), inplace=True)

filtered_df = filtered_df[filtered_df['suburb'] != 'Group Total']

filtered_df= filtered_df.drop(158) # drop the suburb that does not exist in other datasets

filtered_df.reset_index(drop=True, inplace=True)

filtered_df.to_csv('../data/raw/time_series_annual_rent.csv', index= False)

/var/folders/gf/by74yth12b961jz2g6yc7rs40000gn/T/ipykernel_36811/2794688014.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df.rename(columns=dict(zip(filtered_df.columns, new_column_names)), inplace=True)

# read in other files to predict the rental price

In [27]:
annual_rent_df = pd.read_csv('../data/raw/time_series_annual_rent.csv')
wealth_df = pd.read_csv('../data/raw/time_series_wealth.csv')
population_df = pd.read_csv('../data/raw/time_series_population.csv')

In [28]:
# wealth_df = wealth_df.drop(wealth_df.columns[0], axis=1)
# population_df = population_df.drop(population_df.columns[0], axis=1)

In [29]:
# fill in the np value
wealth_df.replace('np', 42343, inplace=True)

In [30]:
annual_rent_df = annual_rent_df.iloc[:, [0] + list(range(-5, 0))]
annual_rent_df

                                    suburb  2018  2019  2020  2021  2022
0    Albert Park-Middle Park-West St Kilda   560   560   580   500   513
1                                 Armadale   495   480   500   440   450
2                            Carlton North   560   577   590   575   595
3                        Carlton-Parkville   410   440   400   340   319
4                          CBD-St Kilda Rd   495   500   495   369   390
..                                     ...   ...   ...   ...   ...   ...
140                                Torquay   480   500   500   550   600
141                              Traralgon   275   285   300   340   380
142                            Wanagaratta   270   290   300   330   380
143                               Warragul   320   350   350   380   400
144                                Wodonga   300   320   330   350   390

[145 rows x 6 columns]

In [31]:
new_rent_col = ['rent_2018', 'rent_2019', 'rent_2020', 'rent_2021', 'rent_2022']
new_wealth_col = ['wealth_2018', 'wealth_2019', 'wealth_2020', 'wealth_2021', 'wealth_2022']
new_population_col = ['pop_2018', 'pop_2019', 'pop_2020', 'pop_2021', 'pop_2022']

# Update the column names for the last 5 columns
wealth_df.columns = list(wealth_df.columns[:-5]) + new_wealth_col
population_df.columns = list(population_df.columns[:-5]) + new_population_col
annual_rent_df.columns = list(annual_rent_df.columns[:-5]) + new_rent_col

In [32]:
wealth_df.to_csv('../data/curated/time_series_wealth.csv', index=False)
population_df.to_csv('../data/curated/time_series_population.csv', index=False)
annual_rent_df.to_csv('../data/curated/time_series_annual_rent.csv', index=False)